
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Speech Emotion Recognition</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inconsolata"
    />
    <style>
      body,
      html {
        height: 100%;
        font-family: "Inconsolata", sans-serif;
      }

      .bgimg {
        background-position: center;
        background-size: cover;
        background-image: url("{% static 'Sentiment-analysis-HUB-Final (1).jpg' %}");
        min-height: 75%;
      }

      .menu {
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- Links (sit on top) -->
    <div class="w3-top" style="background-color: #694f8e">
      <div class="w3-row w3-padding w3-black" style="background-color: #694f8e">
        <div class="w3-col s3">
          <a href="#" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s3">
          <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
        </div>
        <div class="w3-col s3">
          <a href="#menu" class="w3-button w3-block w3-black">UPLOAD</a>
        </div>
        <div class="w3-col s3">
          <h6>Speech Emotion Recognition</h6>
        </div>
      
      </div>
    </div>

    <!-- Header with image -->
    <header class="bgimg w3-display-container w3-grayscale-min" id="home">
      <div
        class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small"
      >
        <span class="w3-tag" style="color: #e3a5c7"
          >Detect emotion in speech</span
        >
      </div>
      <div class="w3-display-middle w3-center">
        <span style="font-size: 90px; color: white"
          >Speech Emotion<br />Recognition</span
        >
      </div>
      <div class="w3-display-bottomright w3-center w3-padding-large">
        <span class="w3-text-white">In real time</span>
      </div>
    </header>

    <!-- Add a background color and large text to the whole page -->
    <div class="w3-sand w3-grayscale w3-large">
      <!-- About Container -->
      <div class="w3-container" id="about">
        <div class="w3-content" style="max-width: 700px">
          <h5 class="w3-center w3-padding-64">
            <span class="w3-tag w3-wide" style="color: #e3a5c7"
              >ABOUT THE PROJECT</span
            >
          </h5>
          <p>
            The Speech Emotion Recognition (SER) project aims to create a system
            capable of identifying human emotions based on vocal expressions.
            This project leverages advanced machine learning algorithms and deep
            learning techniques to analyze audio signals and recognize emotions
            such as happiness, sadness, anger, surprise, and more. By
            interpreting the emotional tone of speech, the SER system has the
            potential to enhance human-computer interactions, provide valuable
            insights in customer service, and support various applications in
            mental health and well-being.
          </p>
          <p>
            <h3>Applications</h3>
            <ul>
    <li>Customer Service: Improve customer interactions by identifying and responding to customer emotions.</li>
    <li>Mental Health: Assist therapists and counselors in monitoring patients' emotional states and progress.</li>
    <li>Education: Enhance e-learning platforms by adapting content based on students' emotional feedback.</li>
    <li>Entertainment: Personalize user experiences in gaming and virtual reality by adapting to players' emotions.</li>
    <li>Human-Computer Interaction: Create more empathetic and responsive virtual assistants and chatbots.</li>
</ul>

          </p>
          <div class="w3-panel w3-leftbar w3-light-grey">
            <img src="{% static 'waveplot.png' %}" alt="" style="max-width: 110%;">
          

              
             
          </div>
      
        </div>
      </div>

      <!-- Menu Container -->
      <div class="w3-container" id="menu">
        <div class="w3-content" style="max-width: 700px">
          <h5 class="w3-center w3-padding-48">
            <span class="w3-tag w3-wide" style="color: #e3a5c7;">Upload Audio Here</span>
          </h5>

             <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <br>
      <br>
      <div style="display: flex;justify-content: center;">
      <button type="submit" style="background-color: #e3a5c7;" >Upload</button>
      </div>
      </div>

      <!-- Contact/Area Container -->
      <div class="w3-container" id="where" style="padding-bottom: 32px;margin-top: -10%;">
        <div class="w3-content" style="max-width: 700px">
          <h5 class="w3-center w3-padding-48">
          <h5 class="w3-center w3-padding-48">
              <p>Your Feedback will be Appreciated</p>
           <button style="background-color:#e3a5c7; margin-top: 5%;">

            <a href="{% url 'feedback' %}">
              Feedback Form


            </a>
           </button>
          </h5>
        
   
          
        </div>
      </div>

      <!-- End page content -->
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
      <p>
      Made by <br>
      <p>Neha, Preeti, Priyamvadha and Rakshith</p>
      </p>
    </footer>


  </body>
</html>
